body {
    background-color: #ccffe0;
}

.shop_info {
    text-align: right;
    margin-right: 20px;
    margin-bottom: 10px;
}

.acc {
    border: 2px solid #174966;
    margin: 5px;
    /*background: #174966;*/
    border-radius: 20px 0px 20px 0px;
}

.accordion-item{
    background: #ccffe0;
}

table {
    text-align: center;
    align-items: center;
}

.input_update {
    width: fit-content;
    text-align: center;
    border-radius: 15px 0px 15px 0px;
    border: 1px solid #174966; 
}

.form-select {
    text-align: center;
    border-radius: 15px 0px 15px 0px;
    border: 1px solid #174966;
    width: fit-content;
    margin: auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    color: rgb(255, 255, 255);
    background-color: #174966;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px 0px 15px 0px;
}

.update_success {
    color: black;
    background-color: rgb(114, 233, 160);
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #174966;
    border-left: 10px solid rgb(26, 136, 26);
    margin: 5px;
}

.update_error {
    color: black;
    background-color: rgb(233, 114, 120);
    padding-left: 5px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #174966;
    border-left: 10px solid red;
    margin: 5px;
}

.form-control {
    border-radius: 15px 0px 15px 0px;
    border: 1px solid #174966 ;
}

.footer {
    margin-top: 20px;
    background-color: #174966;
}

.h6 {
    text-align: center;
}